<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

    <div class="sidebar">
        <h2 id="catalog">Добавление данных</h2>
        <div class="form-card">
            <h3 id="q5">+ Категория</h3>
            <form method="POST" action="#q5">{% csrf_token %}{{ cat_form.as_p }}
                <button type="submit" name="btn_category" class="btn btn-blue btn-add">Создать</button>
            </form>
        </div>
        <hr>
        <div class="form-card">
            <h3 id="q6">+ Товар</h3>
            <form method="POST" action="#q6" enctype="multipart/form-data">{% csrf_token %}{{ prod_form.as_p }}
                <button type="submit" name="btn_product" class="btn btn-orange btn-add">Создать</button>
            </form>
        </div>
        <hr>
        <div class="form-card">
            <h3 id="q7">+ Заказ</h3>
            <form method="POST" action="#q7" enctype="multipart/form-data">{% csrf_token %}{{ ord_form.as_p }}
                <button type="submit" name="btn_order" class="btn btn-green btn-add">Оформить</button>
            </form>
        </div>
    </div>
    <hr>

    <div class="main-content">
        <h1>{{ title }}</h1>

        <h2 style="color: #2c3e50;">Содержимое базы данных</h2>

        <h2 style="color: #2c3e50;">Товары по категориям</h2>

{% for category in all_categories %}
    <div class="category-section" style="margin-bottom: 40px;">
        <h3 style="background-color: #f8f9fa; padding: 10px; border-left: 5px solid #2c3e50;">
            Категория: {{ category.name }}
            <small>(<a id="delete" href="{% url 'delete_item' 'category' category.id %}" style="color: red; font-size: 12px;">Удалить категорию</a>)</small>
        </h3>

        <table border="1" width="100%" style="margin-bottom: 10px; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #eee;">
                    <th>ID</th>
                    <th>Фото</th>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Инструкция</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for p in category.product_set.all %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td align="center">
                        {% if p.image %}
                            <img src="{{ p.image.url }}" width="50">
                        {% else %}
                            Нет фото
                        {% endif %}
                    </td>
                    <td>{{ p.title }}</td>
                    <td>{{ p.price }} руб.</td>
                    <td><a href="{{ p.manual_url }}" target="_blank">Открыть</a></td>
                    <td id="del1">
                        <a  href="{% url 'delete_item' 'product' p.id %}#del1" onclick="return confirm('Удалить товар?')">Удалить</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center; color: #999;">В этой категории пока нет товаров.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
        <hr>
        <h3>Таблица: Заказы</h3>
        <table border="1" width="50%">
            <tr><th>ID</th><th>Товар</th><th>Email</th><th>Кол-во</th><th>Действие</th></tr>
            {% for o in all_orders %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.product.title }}</td>
                <td>{{ o.customer_email }}</td>
                <td>{{ o.quantity }}</td>
                <td id="del2">
                    <a href="{% url 'delete_item' 'order' o.id %}#del2">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <hr>

        <h2 style="color: #e74c3c;">Аналитические отчёты</h2>

      <div class="reports-section">
            <h2 id="reports">Отчёты по запросам БД</h2>

            <h3 id="q1">1. Список продукции (Текстовый фильтр)</h3>
            <form method="GET" action="#q1" class="filter-form">
                <input type="text" name="search_q1" placeholder="Введите название..." value="{{ request.GET.search_q1 }}">
                <button type="submit">Найти</button>
            </form>
            <table border="1">
                <tr><th>Название товара</th><th>Цена</th></tr>
                {% for p in q1 %}
                <tr><td>{{ p.title }}</td><td>{{ p.price }}</td></tr>
                {% empty %}
                <tr><td colspan="2">Совпадений не найдено</td></tr>
                {% endfor %}
            </table>

            <h3 id="q2">2. Заказы (Фильтр по дате)</h3>
            <form method="GET" action="#q2" class="filter-form">
                <input type="date" name="date_q2" value="{{ request.GET.date_q2 }}">
                <button type="submit">Фильтровать</button>
            </form>
            <table border="1">
                <tr><th>№ Заказа</th><th>Email</th><th>Дата</th></tr>
                {% for o in q2 %}
                <tr><td>{{ o.id }}</td> <td>{{ o.customer_email }}</td><td>{{ o.order_date }}</td></tr>
                {% empty %}
                <tr><td colspan="3">Заказов на эту дату нет</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>